:root {
  --yellow: rgba(255, 202, 29, 1);
}

body {
  box-sizing: border-box;
}

header {
  background-image: url("images/rec.svg");
  background-repeat: no-repeat;
  background-size: 880px;
  background-color: rgba(250, 250, 255, 1);
  padding: 30px;
}

/* This is the beginning of Odion's work */
.navbar {
  color: #eee;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: auto;
  padding: 0.5em 1em;
}

.navbar .logo {
  display: flex;
  font-weight: 600;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar .logo img {
  width: 22px;
}

.navbar .logo span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.48px;
}

.navbar ul li a .dropdown-icon {
  width: 10px;
  color: #fff;
  vertical-align: middle;
  margin-left: 2px;
}

.navbar .auth-buttons {
  display: flex;
  gap: 1em;
}

.navbar .auth-buttons a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.navbar .auth-buttons .login {
  background: none;
  color: #757575;
}

.navbar .auth-buttons .sign-up {
  border-radius: 10px;
  background: var(--yellow);
  color: #1f1f1f;
  padding: 8px 25px;
}
/* This is the end of Odion's work */

/* This is the beginning of Anthonia's work */
.header-section {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: auto;
  margin-top: 55px;
}

.header-section1 {
  font-family: "Nunito Sans", sans-serif;
  width: 500px;
  margin-top: 40px;
}

.header-sec1 {
  color: rgba(96, 96, 96, 1);
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 190px;
  font-size: 14px;
  padding: 6px;
}

.header-sec2 {
  letter-spacing: 1.5px;
  color: white;
  padding-top: 15px;
  line-height: 55px;
  font-size: 45px;
}

.header-sec3 {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  border: none;
  margin-top: 25px;
  background-color: rgba(58, 218, 217, 1);
}

.header-sec4 {
  color: white;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.6px;
  margin-top: 25px;
}

.header-sec5 {
  background-color: var(--yellow);
  border-radius: 4px;
  border: none;
  margin-top: 25px;
  padding: 12px;
  width: 140px;
  color: rgba(44, 44, 44, 1);
  font-family: "Nunito Sans", sans-serif;
}

.header-section2 {
  /* border: 1px solid black; */
  width: 600px;
  height: 450px;
}

.header-sec2-1 {
  display: flex;
}

.lucytext {
  margin-left: -80px;
}

.header-sec2-2 {
  display: flex;
  justify-content: space-around;
}
/* This is the end of Anthonia's work */

/* This is the beginning of Jochebed's work */
.text-container {
  font-family: "Nunito Sans", sans-serif;
  justify-content: space-between;
  display: flex;
  width: 1100px;
  margin: auto;
  margin-top: 100px;
}

.text p {
  font-size: 17px;
}

.text hr {
  width: 40px;
  height: 3px;
  background-color: var(--yellow);
  border: none;
  border-radius: 2px;
  margin-left: 0px;
}

.text-image {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.service-text {
  text-align: center;
  font-size: 28px;
  font-family: Nunito Sans, sans-serif;
  margin-top: 100px;
}

.can-do {
  color: var(--yellow);
}
.services {
  color: #585858;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  width: 1000px;
  padding: 10px;
  font-family: Nunito Sans, sans-serif;
}

.business {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  width: 300px;
}

.business h4 {
  color: #2b3377;
}

.financial {
  text-align: center;
  padding: 20px;
  width: 350px;
}

.financial h4 {
  color: #2b3377;
}

.market {
  text-align: center;
  padding: 20px;
  width: 350px;
}
.market h4 {
  color: #2b3377;
}
.services span {
  font-size: 14px;
}
/* This is the end of Jochebed's work */

/* This is the beginning of Vida's work */
.development {
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  font-family: "Nunito Sans", sans-serif;
}

.features {
  text-align: center;
  font-size: 28px;
}
.featuresspan {
  color: var(--yellow);
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.two {
  padding: 60px;
}

.two h3 {
  font-size: 22px;
  color: rgba(74, 74, 74, 1);
}

.three {
  /* width: 685px; */
  /* height: 152px; */
  line-height: 30px;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  color: rgba(87, 87, 87, 1);
}

/* This is the end of Vida's work */

/* This is the beginning of Kemi's work */
.cover {
  background: #f4f6f8;
  width: 1200px;
  margin-top: 100px;
  /* margin: auto; */
}

.container {
  display: flex;
  padding: 30px;
  /* gap: 30px; */
  justify-content: space-between;
  margin: auto;
}

.one {
  width: 490px;
}

.set {
  color: #4a4a4a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0.8px;
}

.line {
  width: 55px;
}

.temp {
  color: #575757;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 30px; /* 158.333% */
  letter-spacing: 0.1px;
}

.group {
  /* height: 400px; */
  width: 500px;
  padding-left: 110px;
}
/* This is the end of Kemi's work */

/* This is the beginning of Onoriode's work */
.integrate {
  text-align: center;
  color: #565656;
  font-family: "Nunito Sans" sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%;
  letter-spacing: 0.96px;
}
.p {
  color: var(--yellow);
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%; /* 70.752px */
  letter-spacing: 0.96px;
}

.image-dropbox {
  height: 110px;
  width: 110px;
  margin-top: -10px;
}
.div-1 {
  padding-left: 350px;
  padding-right: 350px;
  display: flex;
  gap: 2px;
  justify-items: center;
  justify-content: space-between;
}
.image {
  height: 80px;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  align-content: center;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--yellow);
  color: #2c2c2c;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 32.994px */
}
.section-2 {
  display: flex;
  padding-top: 30px;
  width: 1200px;
  margin: auto;
}

.text-div {
  padding-top: 25px;
  padding-left: 90px;
}

.save-time {
  color: #4a4a4a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%; /* 58.96px */
  letter-spacing: 1px;
}

.yellow {
  width: 50px;
  height: 3px;
  background: var(--yellow);
}

.andrea {
  width: 430px;
  height: 430px;
  /* flex-shrink: 0; */
}

.andrea-text {
  color: #575757;
  font-family: "Nunito Sans", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.8px;
}
/* This is the end of Onoriode's work */

/* This is the beginning of Victoria's work */
.main-wrapper {
  padding-top: 50px;
  background-color: #fafaff;
  width: 1882px;
  height: 863px;
  margin: auto;
}
.wrapper {
  width: 1540px;
  height: 651px;

  margin-left: 171px;
  margin-top: 98px;
  margin-bottom: 87px;
  margin-right: 171px;
  border: none;

  position: absolute;
}
.group-72 {
  width: 648px;
  height: 213px;
  flex-shrink: 0;
  margin-top: 219px;
}

h3 {
  color: #4a4a4a;
  font-family: Nunito Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.line-10 {
  margin-top: 4px;
}

p {
  color: #575757;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 400;
  letter-spacing: 0.12px;
  word-wrap: break-word;
}

.calendar-image {
  float: right;
  width: 629px;
  height: 651px;
}
/* This is the end of Victoria's work */

/* This is the beginning of Mary's work */
.g-div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.g-div .img-div {
  width: 38%;
  position: relative;
}

.g-div .img-div::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 430px;
  top: -8px;
  left: -8px;
  z-index: -1;
  background-color: #3adad9;
}

.g-div .img-div img {
  width: 100%;
}

.g-div .txt-div {
  width: 40%;
  margin-top: -8%;
}

.g-div .txt-div h3 {
  color: #4a4a4a;
  font-family: Nunito Sans;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%; /* 58.96px */
  letter-spacing: 0.8px;
}

.g-div .txt-div h3::after {
  content: "";
  width: 60px;
  height: 5px;
  display: block;
  background-color: var(--yellow);
  margin-top: 10px;
}

.g-div .txt-div p {
  color: #575757;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 158.333% */
  letter-spacing: 0.12px;
  width: 520px;
  padding-top: 15px;
}

.g-div .txt-div button {
  margin-top: 20px;
  width: 25%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--yellow);
}

.img-txt {
  width: 380px;
  height: 200px;
  border-radius: 19.146px;
  background: #fff;
  box-shadow: 0px 89.76104px 145.86169px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 720px;
  margin-top: -130px;
}

.img-txt::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 100px;
  top: -100px;
  left: -59px;
  z-index: -1;
  background-color: var(--yellow);
}

.img-txt p {
  color: #3c405f;
  padding: 10px;
  font-size: 18.186px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.404px;
  width: 340px;
  padding: 20px;
}

.img-txt #peter {
  display: inline;
  color: #2d3150;
  font-size: 20.186px;
  font-style: normal;
  font-weight: 600;
  line-height: 160.687%; /* 32.437px */
  letter-spacing: 0.404px;
}

.img-txt #cs {
  display: inline;
  color: #9c9fbb;
  font-size: 19.186px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.687%; /* 32.437px */
  letter-spacing: 0.404px;
}

.svg-img {
  width: 320px;
  margin: auto;
  margin-top: 40px;
  /* position: relative; */
  z-index: -1;
}
/* This is the end of Mary's work */
