:root {
  --yellow: rgba(255, 202, 29, 1);
}

body {
  box-sizing: border-box;
}

header {
  background-image: url("images/rec.svg");
  background-repeat: no-repeat;
  background-size: 880px;
  background-color: rgba(250, 250, 255, 1);
  padding: 30px;
}

.navbar {
  color: #eee;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: auto;
  padding: 0.5em 1em;
}

.navbar .logo {
  display: flex;
  font-weight: 600;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar .logo img {
  width: 22px;
}

.navbar .logo span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.48px;
}

.navbar ul li a .dropdown-icon {
  width: 10px;
  color: #fff;
  vertical-align: middle;
  margin-left: 2px;
}

.navbar .auth-buttons {
  display: flex;
  gap: 1em;
}

.navbar .auth-buttons a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.navbar .auth-buttons .login {
  background: none;
  color: #757575;
}

.navbar .auth-buttons .sign-up {
  border-radius: 10px;
  background: var(--yellow);
  color: #1f1f1f;
  padding: 8px 25px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: auto;
  margin-top: 55px;
}

.header-section1 {
  font-family: "Nunito Sans", sans-serif;
  width: 500px;
  margin-top: 40px;
}

.header-sec1 {
  color: rgba(96, 96, 96, 1);
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 190px;
  font-size: 14px;
  padding: 6px;
}

.header-sec2 {
  letter-spacing: 1.5px;
  color: white;
  padding-top: 15px;
  line-height: 55px;
  font-size: 45px;
}

.header-sec3 {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  border: none;
  margin-top: 25px;
  background-color: rgba(58, 218, 217, 1);
}

.header-sec4 {
  color: white;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.6px;
  margin-top: 25px;
}

.header-sec5 {
  background-color: var(--yellow);
  border-radius: 4px;
  border: none;
  margin-top: 25px;
  padding: 12px;
  width: 140px;
  color: rgba(44, 44, 44, 1);
  font-family: "Nunito Sans", sans-serif;
}

.header-section2 {
  /* border: 1px solid black; */
  width: 600px;
  height: 450px;
}

.header-sec2-1 {
  display: flex;
}

.lucytext {
  margin-left: -80px;
}

.header-sec2-2 {
  display: flex;
  justify-content: space-around;
}
/* comment */
.development{
  padding: 10px;
    margin-top: 35px;
    /* border: 200px; */
    font-family: "Nunito Sans", sans-serif;
}
.content{
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}

.two{
  /* display:block; */
  /* width: 400px; */
  padding-top: 200px;
  padding-left: 100px;
  
}
.features{
  text-align: center;
  /* font-weight: bolder; */
  font-size: 37px;
}
.featuresspan{
  color: var(--yellow)
  ;

}
.three{
  width: 685px;
/* height: 152px; */
line-height: 30px;
letter-spacing: 0.4px;
font-size: large;
font-family: "Nunito Sans", sans-serif;

}
.two h1{
  font-size: 30px;
}

/* Kemi's work */


/* This is the beginning of Onoriode's work */
.integrate{
  /* display: flex; */
 
  text-align: center;
  color: #565656;
  font-family:  "Nunito Sans" sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%;
  letter-spacing: 0.96px;
}
.p{
  color: var(--yellow);
  text-align: center;
  font-family: "Nunito Sans" ,sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%; /* 70.752px */
  letter-spacing: 0.96px;
}

.image-dropbox{
  height: 110px;
  width: 110px;
  margin-top: -10px;
}
.div-1{
  padding-left: 350px;
  padding-right: 350px;
  display: flex;
  gap: 2px;
  justify-items: center;
  justify-content: space-between;
}
.image{
  height: 80px;
}
.button-div{
  display: flex;
justify-content: center; 
align-items: center;
  
  
}
/* the view all styling */
.button{
  align-content: center;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--yellow);
  color: #2C2C2C;
  font-family: "Nunito Sans" ,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 32.994px */
}
/* styling of the second section */
.section-2{
  display: flex;
  padding-top: 30px;
  width: 1200px;
  margin: auto;
  /* padding-left: 190px;
  padding-right: 190px; */
}

.text-div{
  padding-top: 25px;
  padding-left: 90px;
}
/* h4 styling */
.save-time{
  color: #4A4A4A;
  font-family: "Nunito Sans" ,sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%; /* 58.96px */
  letter-spacing: 1px;
}
/* styling of the hr tag */
.yellow{
  width: 50px;
  height: 3px;
  background:  var(--yellow);
  
}   
/* This is the styling for andrea image */
.andrea{
  width: 430px;
  height: 430px;
  /* flex-shrink: 0; */
}
/* The styling of the text */
.andrea-text{
  color: #575757;
  font-family: "Nunito Sans" ,sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.8px;
}
/* This is the end of Onoriode's work */

 /* Victoria's CSS*/
 .main-wrapper{
  padding-top: 50px;
  background-color: #fafaff;
     width: 1882px;
     height: 863px;
     margin: auto;
     
 }
.wrapper{
  width: 1540px;
  height: 651px;
  
  
  margin-left: 171px;
  margin-top: 98px;
  margin-bottom: 87px;
  margin-right: 171px;
  border: none;
  
  position: absolute;
  
}
.group-72{
  width: 648px;
  height: 213px;
  flex-shrink: 0;
  margin-top: 219px;
}

h3{
  color: #4A4A4A;
  font-family: Nunito Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.line-10{
  
  margin-top: 4px;}
  
p{
  color: #575757;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 400;
  letter-spacing: 0.12px;
  word-wrap: break-word
}

.calendar-image{
  float: right;
  width: 629px;
  height: 651px;
  
}
/* End of Victoria's work*/

